.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader>div {
    width: 10vmax;
    height: 10vmax;
    border-radius: 100%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
    animation: loading 800ms linear infinite;
}

@keyframes loading {
    to {
        transform: rotateZ(360deg);
    }
}