body {
    background-color: antiquewhite;
}

h2 {
    border-bottom: 1px solid black;
}

.container {
    width: 40%;
    height: 90vh;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    /* Center horizontally */
    text-align: center;
}

.container>div {
    /* display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; */
    padding: 0.5vmax;
}

input[type=text] {
    width: 70%;
    padding: 1vmax;
    margin: 0.2vmax;
}

.container>div:last-child>p {
    border: 1px solid black;
}

button {
    padding: 1vmax;
    color: white;
    background-color: tomato;
    width: 10vmax;
    height: 3vmax;
    border: none;
    border-radius: 2vmax;
    align-self: flex-end;

}